$bgColor: #111;
$supportBgColor: #232323;
$mainBrightColor: #ffb400;
$textMainColor: rgb(232, 232, 232);
$supportColor: #777;


$mainFontFamily: 'Poppins', sans-serif;
$supportFontFamily: 'Open Sans', sans-serif;

