.wrapper {
    position: relative;
    width: 90%;

    border: 1px solid black;
}
.Box{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
}

.bodyWrapper{
    width: 1140px;
    margin: 0 auto;
}


@media (max-width: 992px) {
    .bodyWrapper{
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .bodyWrapper{
        max-width: 720px;
    }
}
@media (max-width: 576px) {
    .bodyWrapper{
        max-width: 540px;
    }
}
@media (max-width: 576px) {
    .bodyWrapper{
        max-width: 540px;
    }
}
