.Box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
}

.bodyWrapper {
    width: 100%;
    max-width: 1100px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1300px) {
    .bodyWrapper {
        max-width: calc(100% - 195px)
    }
}

