@import "../style/variables";
@import "../style/mixins";

.input {
  background-color: #252525;
  color: #fff;
  border: 1px solid $bgColor;
  border-radius: 30px;
  padding: 11px 26px;
  margin-bottom: 20px;
  outline: none;

  &:focus {
    border: 1px solid $mainBrightColor;
  }

  &::placeholder {
    @include text($supportFontFamily, 300, 15px, $textMainColor);
    text-transform: uppercase;
    opacity: 0.6;
  }

}