@import "./src/common/style/mixins";
@import "./src/common/style/variables";

.portfolio {
  background: #111;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .bodyWrapper {
    @include bodyWrapper();

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    column-gap: 20px;

  }

}

