.burger {
  position: fixed;
  height: 55px;
  width: 55px;
  background: #252525;
  right: 30px;
  top: 30px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .span {
    text-align: center;
    width: 23px;
    height: 2px;
    margin-bottom: 2.5px;
    position: relative;
    margin-top: 2.5px;
    background: #ffffff;
    z-index: 101;
    border-radius: 3px
  }
}