.skills {
    background: #5d5d9e;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
h2{
    background: #e4a9f5;
}