.home{
    background: #89bee3;
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.text{
    background: #dedcdc;
    flex-direction: column;
    display: flex;
    align-items: center;
}
h1 {
    margin: 0;
    color: #ffb400;;
}

.image{
    background: #000;
   margin: 10px;
    width: 400px;
    height: 470px;
}