@import "../../common/style/variables";
@import "../../common/style/mixins";

.contact {
  background: $bgColor;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .bodyWrapper {
    @include bodyWrapper();

    .content {
      display: flex;

      .blockInfo {
        width: 35%;
        padding-right: 20px;

        .titleH3 {
          @include text($mainFontFamily, 600, 26px, $textMainColor);
          @include titleH3(16px);
        }

        .info {
          @include text($supportFontFamily, 500, 15px, $textMainColor);
          margin-bottom: 1rem;
          line-height: 1.6;
        }

        .SocialContainer {
          display: flex;
          flex-direction: row;
        }
      }

      .blockForm {
        width: 65%;

        .form {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-bottom: 20px;

          .input {
            max-width: 33%;
            padding: 15px 20px;
          }

          .textArea {
            box-sizing: border-box;
            width: 100%;
            resize: vertical;
            min-height: 180px;
            margin-bottom: 0;
          }
        }
      }
    }
  }

}










