@import "./src/common/style/mixins";
@import "./src/common/style/variables";

.header {
  position: fixed;
  right: 30px;
  z-index: 11;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  @media (max-width: 991px) {

    &_active {
      background-color: #252525;
      width: 100%;
      height: 100%;
      position: fixed;
      margin: 10px;
      top: -10px;
      right: -10px;
      padding-top: 60px;
      align-items: start;
      justify-content: start;

    }
  }

  .burger {
    display: none;
    @media (max-width: 991px) {
      display: flex;
    }
    @media (max-width: 576px) {
      top: 5px;
    }
  }

  .navBlock {
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 991px) {

      width: 100%;
      align-items: start;
    }

    .navBlock__item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: #2b2a2a;
      margin: 15px 0;
      text-decoration: none;

      &__text {
        color: $textMainColor;
        position: absolute;
        opacity: 0;
      }

      &_active, &:hover {
        background-color: $mainBrightColor;
      }

      &:hover {
        .navBlock__item__text {
          @include text($supportFontFamily, 400, 23px, white);
          transition: 0.5s;
          opacity: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translate(-50px, 0);
          background-color: $mainBrightColor;
          padding: 0 50px 0 20px;
          height: 50px;
          border-radius: 40px;
          z-index: 0;
        }


        .contacts, .portfolio, .skills {
          white-space: nowrap;
          transform: translate(-60px, 0);
        }
      }


      @media (max-width: 991px) {
        @include text($mainFontFamily, 400, 26px, $textMainColor);
        display: none;
        z-index: 100000;
        background: #000;
        &_activeB {
          color: white;
          display: inherit;
          width: 100%;
          background: none;
          justify-content: start;
          border-radius: 0;
          border-bottom: 1px solid #333333;
          padding-left: 30px;
        }
        &_active {
          color: $mainBrightColor;
        }
        &:hover {
          background: transparent;

          .navBlock__item__text {
            display: none;
          }

        }

      }

      .item__image {
        z-index: 2;
        @media (max-width: 991px) {
          height: 20px;
          margin-right: 15px;
        }
      }

    }


  }
}



